.hero-section {
  background-color: var(--bg-color-main);
  color: var(--white);

  &__transparent {
      padding: 200px 0;
      max-width: 1600px;
      height: 600px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/hero-section-img.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
    }
  
    &__title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      width: 100%;
      max-width: 696px;
      margin: 0 auto 30px;
    }
}

