:root {
    /* color */
    --accent-blue: #2196f3;
    --accent-btn-blue: #188ce8;
    --black: #000;
    --white: #fff;
    --white-transparent: rgba(255, 255, 255, 0.6);
    --color-footer: #2f303a;
    --color-title: #212121;
    --color-desc: #757575;
    --color-header-adress: #757575;
    --bg-color-main: #2f303a;
    --bg-color-secondary: #f5f4fa;
    --bg-footer-social: rgba(255, 255, 255, 0.1);
    --bg-accent-blue-transparent90: rgba(33, 150, 243, 0.9);
    --color-border: #eeeeee;
    --header-border: #ececec;
    --hero-section-transparent: rgba(47, 48, 58, 0.4);
    /* svg color */
    --svg-color: #afb1b8;
    /* margin */
    --portfolio-list-margin: 30px;
}